/* 
    Created on : 11-abr-2018, 18:35:20
    Author     : Robot
*/

html{
  background-color: #5eb89e;
  width: 1300px;
}

body{
    border: 3px solid #27999d;
  background-color: #c0deeb;
  border-radius: 20px;
  /*height: 100px;*/
}

main#m1{
  font-family: 'Tajawal', sans-serif;
  text-align: left;
  content: left;
  margin: 1px 0px 0px 10px;
  padding: 0px 0px 10px 10px;
  font-size: medium;
}

p.p1{
  /*display: block;*/
  font-family:inherit;
  font-size: x-large;
  margin: 5px 0 0 0;
  padding: 5px;
}

p.p2{
  line-height: normal;
  letter-spacing: 1px;
  /*display: block;*/
  font-family:inherit;
  font-size: medium;
  /*margin: 5px 0px 0px 0px;*/
  /*padding: 5px 0px 10px 0px;*/
}

span#s1 , span#s2{
  font-weight: bold;
  margin-left: 40px;
  padding-top: 20px;
}

input#in1{
  display: inline-block;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 60px;
  padding-left: 10px;
  font-size: 30px;
  text-align: right;
  font-family: 'Gugi', cursive;
  background-color: black;
  color: #00ff33;
}

label#l1{
  font-family: 'Gugi', cursive;
  text-align: center;
  content: center;
  font-size: 30px;
  align-content: center;
  margin-left: 200px;
}

button{
  font-family: 'Gugi', cursive;
  font-size: x-large;
  content: center;
  padding: 17px;
  margin-top: 10px;
}

button.b0{
  display: inline;
  margin: 10px 10px 0 10px;
}

aside#a3{
  /*margin-left: 50px;*/
}

aside#a4,#a6{
  /*margin-left: 50px;*/
}

aside#a5{
  /*margin-left: 50px;*/
}

aside#a6{
  /*margin-left: 50px;*/
}

h2{
  text-align: left;
  margin: 30px;
}

footer{
  margin: 20px;
}

#calcular{
  margin-left: auto;
}

button{
  border-radius: 15px;
}

button#sumatorio,button#producto{
  margin-left: 10px;
  margin-right: 10px;
}

section#sec1{
  position: relative;
  width: 600px;
  margin: 10px;
  left: 550px;
  bottom : 500px;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid #5e5fcc;
  background-color: #7b7bcf;
}