
div {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px solid #000000;
    margin: 10px 10px 10px 10px;
}

    div#a {
        border-radius: 24px;
    }

    div#b {
        border-top-left-radius: 24px;
    }

    div#c {
        border-radius: 24px 0;
    }

    div#d {
        border-radius: 36px 12px;
    }

    div#e {
        border-top-right-radius: 50px 30px;
    }

    div#f {
        border-bottom-right-radius: 50px 30px;
    }

    div#g {
        border-radius: 50%;
    }

    div#h {
        border-radius: 50% 50% 0 0;
    }

    div#i {
        border-radius: 0 20px 20px 0;
    }

    div#j {
        border-radius: 20px 0 0 20px;
    }

    div#k {
        border-radius: 0 50% 0 50%;
    }

    div#l {
        border-top-left-radius: 50% 20%;
        border-top-right-radius: 50% 20%;
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;
    }
