/* 
    Created on : 26-may-2018, 19:49:56
    Author     : Robot
*/

.caja{
  background-color: #F00;
  padding: 5px;
}

.caja .centro{
  width: 60%;
  background-color: #FF9;
  float: left;
}

.caja .izq{
  width: 20%;
  background-color: #CFC;
  float: left;
}

.caja .dcha{
  width: 20%;
  background-color: #CCF;
  float: left;
}

.clear{
  clear: both;
}