/* 
    Created on : 26-may-2018, 19:49:56
    Author     : Robot
*/

.muestra{
  float: left;
  height: 300px;
  width: 60%;
  background-color: #FF9;
}

.anterior{
  float: left;
  height: 100px;
  width: 20%;
  background-color: #CFC;
}

.posterior{
  clear: both;
  height: 100px;
  /*width: 80%;*/
  background-color: #CCF;
  /*float: left;*/
  /*border: 1px solid red;*/
}